html
  head
    script(src="https://browserid.org/include.js")
    script(src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js")
    script(src="https://crypto-js.googlecode.com/files/2.2.0-crypto-md5.js")
    script(src="javascripts/love.js")
  body
    div#loves
